// Dark background/highlight colors
@base03: #2a2c27;
@base02: #3a3c37;

// Dark bg text/comment colors
@base01: #878984;
@base00: #7a7c76;

// Light bg text/comment colors
@base0: #535864;
@base1: #91969f;

// Light background colors
@base2: #e7e9e4;
@base3: #f7f9f4;

// Accent colors
@red: #a64e3c;
@orange: #a76e1c;
@yellow: #b59520;
@green: #478e44;
@cyan: #4aa0a0;
@blue: #4d7cb0;
@violet: #857fbb;
@magenta: #bb5f85;
