// Dark background/highlight colors
@base03: #1a2617;
@base02: #2a3627;

// Light bg text/comment colors
@base01: #374934;
@base00: #778974;

// Dark bg text/comment colors
@base0: #6a7167;
@base1: #8a9187;

// Light background colors
@base2: #e7e9e4;
@base3: #f7f9f4;

// Accent colors
@red: #a64e3c;
@orange: #b55c1c;
@yellow: #b59520;
@green: #477e44;
@cyan: #4aa0a0;
@blue: #4d7cb0;
@violet: #857fbb;
@magenta: #bb5f85;
